@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-alert-success{
    background-color: #dcfce7;
    color: #15803d;
}

.custom-alert-warning{
    background-color: #fef9c3;
    color: #eab308;
}

.custom-alert-danger{
    background-color: #fee2e2;
    color: #b91c1c;
}